<style media="screen">
    .pic-container {
        height: 100%;
        padding-bottom: 110px;
        padding-right: 5px;
        overflow-y: scroll!important;
        overflow-x:hidden;
        text-align: justify;
    }

    textarea{ 
        width: 700px;        
        min-height:700px;  
        max-height:1000px;
    }
</style>

<div ng-controller="estatutoCtrl">



    <header>

        <style type="text/css">
            @media screen and (min-width: 768px) {
                .modal-dialog {
                    width: 700px; /* New width for default modal */
                }
                .modal-sm {
                    width: 350px; /* New width for small modal */
                }
            }
            @media screen and (min-width: 992px) {
                .modal-lg {
                    width: 950px; /* New width for large modal */
                    height: 900px;
                }
            }
        </style>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                
                <a href="#/home" class="navbar-brand" href="">Maracabarro</a>
                

                <ul class="nav navbar-nav navbar-right">                        
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuário<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=""><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendário</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comunicados</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Estatuto</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Eventos</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Finanças</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Fotos</a></li>                            
                        <li><a href=""><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Jogos</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Promoções</a></li>       
                        <li><a href=""><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Vídeos</a></li>                     
                        <li role="separator" class="divider"></li>
                        <li><a href=""><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a></li>
                    </ul>
                    </li>
                </ul>
                
            </div>
        </nav>
    

    </header>

    <main>
        <div class="container pic-container">

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg"role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Estatuto</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">                                
                                <textarea style="height: 200px" class="form-control estatuto">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat euismod mi, eu laoreet ligula scelerisque nec. Sed dignissim justo vel eros placerat vehicula. Maecenas luctus, nisl quis fermentum iaculis, erat neque tempor magna, vel tincidunt diam tortor sed lorem. Maecenas mi diam, sodales sed leo et, fringilla auctor lacus. In mattis tempus varius. Donec elementum justo nulla. Ut eget lacus quis sapien elementum vestibulum nec eu orci.

                                    Donec diam orci, tincidunt non elementum eu, bibendum quis ante. Donec dolor tortor, lacinia vel libero non, lobortis tempus ante. Donec in dapibus felis. Nunc quis nunc sed nisl eleifend laoreet nec vel tellus. Aliquam sed dignissim ligula. Pellentesque rutrum in ligula at vulputate. Etiam accumsan ligula luctus, tempus tortor eget, pharetra dui. Aliquam facilisis pretium leo, nec congue urna facilisis maximus. Ut eu fermentum risus, sit amet porta enim. Duis hendrerit at neque id bibendum. In tempus dolor quis dolor auctor, eget imperdiet metus consequat.

                                    Donec venenatis varius ipsum, in iaculis magna cursus sodales. Curabitur condimentum purus non diam ultrices, dapibus cursus diam viverra. Donec vel eros sed odio pretium finibus sed ut sem. In eleifend aliquet elementum. Pellentesque pretium, lacus in viverra vestibulum, libero nunc aliquet ante, et laoreet justo diam quis justo. In placerat velit vestibulum imperdiet maximus. Quisque a ex a ligula pellentesque faucibus. Proin faucibus mauris commodo aliquam ornare. Pellentesque sit amet congue ligula, id viverra purus. In hac habitasse platea dictumst.

                                    Praesent gravida ex in justo tempus, quis sagittis sem tincidunt. Sed sagittis lorem nec lectus fermentum mattis. Pellentesque quis faucibus lectus. Fusce aliquet enim et diam vestibulum, ac tempor nibh scelerisque. Suspendisse potenti. Duis arcu augue, ultricies ac nisl in, semper interdum mauris. In consectetur ante leo, eu consectetur lorem bibendum at. Nunc nec odio augue. Vestibulum mollis nibh metus, nec elementum mi varius sit amet. Integer magna nibh, tempus ac nulla sit amet, suscipit eleifend felis. Morbi accumsan purus et leo euismod, eget scelerisque tellus pellentesque. Nullam finibus porttitor ante et feugiat.

                                    Cras in ipsum sit amet nisi tempor cursus ut vel quam. Vestibulum vitae mi nulla. Fusce sodales tempus hendrerit. In vel nulla fringilla, volutpat tellus viverra, dapibus nulla. Nunc posuere nibh nec sodales elementum. Suspendisse aliquam nulla nec nisi facilisis, non dignissim est iaculis. In ut feugiat augue. In luctus lorem velit, vel mollis ligula eleifend ac. Duis libero dui, interdum et ligula quis, iaculis sagittis libero. Sed condimentum mollis magna, et.

                                </textarea>
                            
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form ng-submit="enviarEstatuto()">
                                <div class="pull-left">
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="concordo" value="s" ng-checked="true">Concordo
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio" ng-model="concordo" value="n">Não Concordo
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-danger">Enviar</button>

                                <div ng-if="concordo == 'n'">
                                    asasas
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <footer>
    </footer>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $('#myModal').modal('show');

            $('#myModal').on('hidden.bs.modal', function () {
                //window.location.href = "http://pcbnu006300:99/maracabarro2/#/comunicados";
            });
        });
    </script>