<div ng-controller="comunicadoViewCtrl">

    <header>
        <!--
        <nav class="orange darken-4">
            <div class="nav-wrapper">
                <a href="#/" class="brand-logo left light">Maracabarro</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#/financas" class="light">Finanças</a></li>
                    glyphicon glyphicon-usd
                    glyphicon glyphicon-gbp
                    glyphicon glyphicon-piggy-bank

                    <li><a href="#/eventos" class="light">Eventos</a></li>
                    glyphicon glyphicon-glass
                    glyphicon glyphicon-sunglasses


                    <li class="active"><a href="#/comunicados" class="light">Comunicados</a></li>
                    glyphicon glyphicon-comment
                    glyphicon glyphicon-bullhorn


                    <li><a href="#/jogos" class="light">Jogos</a></li>



                    <li><a href="#/estatuto" class="light">Estatuto</a></li>
                    glyphicon glyphicon-education
                    glyphicon glyphicon-file

                    <li><a href="#/calendario" class="light">Calendário</a></li>
                    glyphicon glyphicon-calendar


                    <li><a href="#/promocoes" class="light">Promoções</a></li>
                    glyphicon glyphicon-gift


                </ul>
            </div>
        </nav>
        -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active" data-placement="bottom" data-toggle="tooltip" title="Comunicados"><a href="#/comunicados"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>.</a></li>
                    <li data-placement="bottom" data-toggle="tooltip" title="Eventos"><a href="#/comunicados"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>.</a></li>
                    <li data-placement="bottom" data-toggle="tooltip" title="Finanças"><a href="#/comunicados"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>.</a></li>
                    <li data-placement="bottom" data-toggle="tooltip" title="Estatuto"><a href="#/comunicados"><span class="glyphicons glyphicons-soccer-ball" aria-hidden="true"></span>.</a></li>
                </ul>
            </div>
        </nav>
        
    </header>

    <main>
        <div class="container">
            <!-- COMUNICADO IMPORTANTE -->
            <div class="panel panel-danger" ng-if="comunicado.importante == '1'">
                <div class="panel-heading">
                    <h4>                                               
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="Importante"></span>                        
                        <b class="" style="margin-left: 50px">{{comunicado.titulo}}</b>
                    </h4>
                    <span class="label label-danger pull-right">{{comunicado.usuarioResponsavel}} - {{ dataPublicacao | date:"dd/MM/yyyy 'às' HH:mm:ss"}}</span>
                </div>
                <div class="panel-body">
                    <p>{{comunicado.conteudo}}</p>
                </div>
                <div class="panel-footer">

                    <a href="" ng-click="addCurtida(comunicado.id)" ng-if="habilitaCurtir == true">{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                    <span ng-if="habilitaCurtir == false">{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                    <span class="label tiny label-primary" ng-if="habilitaCurtir == false">Você curtiu isso</span>
                    
                    <div class="btn-group pull-right">
                        <div>
                            <button type="button" class="btn btn-sm btn-default" ng-if="usuarioAtivo.admin == 's'" ng-click="openEditComunicadoView()">Editar</button>
                                                
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="usu in usuariosCurtiram">
                                    <a href="">{{usu.usuario}}</a>
                                </li>                            
                            </ul>
                        </div>
                        
                    </div>

                </div>
            </div>

            <!-- COMUNICADO SIMPLES -->
            <div class="panel panel-default" ng-if="comunicado.importante != '1'">
                <div class="panel-heading">
                    <h4>
                        <b class="">{{comunicado.titulo}}</b>
                    </h4>
                    <span class="label label-danger pull-right">{{comunicado.usuarioResponsavel}} - {{ dataPublicacao | date:"dd/MM/yyyy 'às' HH:mm:ss"}}</span>
                </div>
                <div class="panel-body">
                    <p>{{comunicado.conteudo}}aasa</p>
                </div>
                <div class="panel-footer">

                    <a href="" ng-click="addCurtida(comunicado.id)" ng-if="habilitaCurtir == true">{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                    <span ng-if="habilitaCurtir == false">{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                    <span class="label label-primary" ng-if="habilitaCurtir == false">Você curtiu isso</span>
                    
                    <div class="btn-group pull-right">
                        <div>
                            <button type="button" class="btn btn-sm btn-default" ng-if="usuarioAtivo.admin == 's'" ng-click="openEditComunicadoView()">Editar</button>
                                                
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="usu in usuariosCurtiram">
                                    <a href="">{{usu.usuario}}</a>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COMENTÁRIOS -->
            <div class="alert alert-warning" role="alert" ng-if="qtdComentarios > 0">Comentários ({{qtdComentarios}})</div>
            <div class="alert alert-success" role="alert" ng-if="qtdComentarios == 0">Seja o primeiro a comentar</div>
            <div ng-if="comentarios.length != 0">
                
                <div class="input-field">
                    <div ng-repeat="comentario in comentarios">
                        <span class="label label-danger">{{comentario.usuario}}</span>
                        <br>
                        <textarea class="form-control" disabled>{{comentario.comentario}}</textarea>                                
                    </div>
                </div>

                <form ng-submit="addComentario(texto)">
                    <div class="input-field">         
                        <br>           
                        <textarea ng-model="texto" class="form-control" required></textarea>
                        <span class="label label-danger">colocar nome do usuario logado aqui</span>
                        <br>
                        <br>
                        <button type="button" ng-click="openComunicadosView()" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-left"></span> Voltar                                
                        </button>
                        <button type="submit" class="btn btn-danger btn-sm pull-right">Comentar</button>
                    </div>
                </form>
            </div>
        </main>

    <footer>

    </footer>
</div>

<script type="text/javascript">

    $(document).ready(function () {                
        $('[data-toggle="tooltip"]').tooltip();        
    });

</script>