<div ng-controller="comunicadoViewCtrl">

    <header>
        <!--
        <nav class="orange darken-4">
            <div class="nav-wrapper">
                <a href="#/" class="brand-logo left light">Maracabarro</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#/financas" class="light">Finanças</a></li>
                    <li><a href="#/eventos" class="light">Eventos</a></li>
                    <li class="active"><a href="#/comunicados" class="light">Comunicados</a></li>
                    <li><a href="#/jogos" class="light">Jogos</a></li>
                    <li><a href="#/estatuto" class="light">Estatuto</a></li>
                    <li><a href="#/calendario" class="light">Calendário</a></li>
                    <li><a href="#/promocoes" class="light">Promoções</a></li>
                </ul>
            </div>
        </nav>
        -->
    </header>

    <main>

        <div class="container">
            <div class="row">
                <div class="col s12 m10 l10 offset-m1 offset-l1">

                    <!-- COMUNICADO -->
                    <div class="card horizontal">
                        <div class="card-image">

                        </div>
                        <div class="card-stacked">
                            <span class="label label-danger" ng-if="comunicado.importante == 1">{{comunicado.usuarioResponsavel}} - {{ dataPublicacao | date:"dd/MM/yyyy 'às' HH:mm:ss"}}</span>
                            <span class="label label-info" ng-if="comunicado.importante != 1">{{comunicado.usuarioResponsavel}} - {{comunicado.dataPublicacao}}</span>
                            <div class="card-content">
                                <p>
                                    {{comunicado.titulo}}
                                    <div class="right" ng-if="comunicado.importante == '1'">
                                        <i class="small material-icons red-text">new_releases</i>
                                    </div>
                                </p>
                                <p>{{comunicado.conteudo}}</p>
                            </div>
                            <div class="card-action">
                                <a href="" ng-click="addCurtida(comunicado.id)" ng-if="habilitaCurtir == true">{{comunicado.qtdCurtidas}} <i class="tiny material-icons">thumb_up</i></a>
                                <span ng-if="habilitaCurtir == false">{{comunicado.qtdCurtidas}} <i class="tiny material-icons">thumb_up</i></span>
                            </div>
                        </div>
                    </div>

                    <!-- COMENTÁRIOS -->
                    <div class="alert alert-warning" role="alert" ng-if="qtdComentarios > 0">Comentários ({{qtdComentarios}})</div>
                    <div class="alert alert-success" role="alert" ng-if="qtdComentarios == 0">Seja o primeiro a comentar</div>
                    <div class="card horizontal" ng-if="comentarios.length != 0">
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="input-field">
                                    <div ng-repeat="comentario in comentarios">
                                        <span class="label label-danger">{{comentario.usuario}}</span>
                                        <br>
                                        <textarea class="form-control" disabled>{{comentario.comentario}}</textarea>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form ng-submit="addComentario(texto)">

                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="input-field">
                                        <textarea ng-model="texto" class="form-control" required></textarea>
                                        <br>
                                        <span class="label label-danger">colocar nome do usuario logado aqui</span>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button type="submit" class="right waves-effect waves-light orange darken-4 btn">Comentar</a>
                                </div>                        
                            </div>                        
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <footer>
        
    </footer>
</div>

<script type="text/javascript">

$(document).ready(function(){
  $('.collapsible').collapsible();
  $('.modal-trigger').leanModal();
  $('.tooltipped').tooltip({
      delay: 50,
      html: true
  });
  $('.collapsible').collapsible();

  
});

</script>