<div ng-controller="comunicadoViewCtrl">

    <header>
        <!--
        <nav class="orange darken-4">
            <div class="nav-wrapper">
                <a href="#/" class="brand-logo left light">Maracabarro</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#/financas" class="light">Finanças</a></li>
                    <li><a href="#/eventos" class="light">Eventos</a></li>
                    <li class="active"><a href="#/comunicados" class="light">Comunicados</a></li>
                    <li><a href="#/jogos" class="light">Jogos</a></li>
                    <li><a href="#/estatuto" class="light">Estatuto</a></li>
                    <li><a href="#/calendario" class="light">Calendário</a></li>
                    <li><a href="#/promocoes" class="light">Promoções</a></li>
                </ul>
            </div>
        </nav>
        -->
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m10 l10 offset-m1 offset-l1">

                    <!-- COMUNICADO -->
                    <div class="card horizontal">
                        <div class="card-image">

                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>
                                    {{comunicado.titulo}}
                                    <div class="right" ng-if="comunicado.importante == '1'">
                                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Importante" href=""><i class="small material-icons red-text">new_releases</i></a>
                                    </div>
                                </p>
                                <p>{{comunicado.conteudo}}</p>
                            </div>
                            <div class="card-action">
                                <a class="right blue-text" href="#/comunicados" ng-if="usuarioAtivo.admin == 's'">Editar</a>
                                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{comunicado.id}}" href="" ng-click="addCurtida(comunicado.id)">666 <i class="tiny material-icons">thumb_up</i></a>
                                <a href="" ng-click="">10 <i class="tiny material-icons">comment</i></a>
                            </div>
                        </div>
                    </div>

                    <!-- COMENTÁRIOS -->
                    Coments
                    <form ng-submit="addComentario(comentario)">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                                    
                                <div class="card-content">                                
                                    <div class="input-field">                                                                                                                                         
                                        <textarea ng-model="comentario.comentario" class="form-control" required></textarea>                              
                                    </div>
                                </div>
                                <div class="card-action">                                
                                    <button type="submit" class="right waves-effect waves-light orange darken-4 btn">Comentar</a>
                                </div>                        
                            </div>                        
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>
</div>

<script type="text/javascript">

$(document).ready(function(){
  $('.collapsible').collapsible();
  $('.modal-trigger').leanModal();
  $('.tooltipped').tooltip({
      delay: 50,
      html: true
  });
});

</script>