<div ng-controller="homeCtrl">

    <header>
        
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">

                </div>

                <div class="col s12 m6 l6">

                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>
</div>

<script type="text/javascript">

$(document).ready(function(){
  $('.collapsible').collapsible();
  $('.modal-trigger').leanModal();
});

</script>
