<div ng-controller="homeCtrl">

    <header>

    </header>

    <main>
        <div class="container">
            <div class="row-fluid">
                <div class="list-group span4 offset6">
                    
                    <li class="list-group-item active"><b>Comunicados</b></li>                                            

                    <a href="#/comunicados/{{comunicado.id}}" ng-repeat="comunicado in comunicados" class="list-group-item">
                        {{comunicado.titulo}}
                        <span class="glyphicon glyphicon-bullhorn pull-right" ng-if="comunicado.importante == 1" aria-hidden="true" data-placement="bottom" data-toggle="tooltip" title="Importante"></span>                        
                    </a>

                    <a href="#/comunicados" class="list-group-item active" ng-if="comunicados.length > 1">                        
                        Mais Comunicados
                        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>                        
                    </a>

                </div>
            </div>

            <div class="row-fluid">
                <div class="alert alert-success span4 offset6" role="alert">
                    <a href="#/videos" class="alert-link">Vídeos</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>