<div ng-controller="jogosCtrl">

    <header>
        <nav class="orange darken-4">
            <div class="nav-wrapper">
                <a href="#/" class="brand-logo left light">Maracabarro</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#/financas" class="light">Finanças</a></li>
                    <li><a href="#/eventos" class="light">Eventos</a></li>
                    <li><a href="#/comunicados" class="light">Comunicados</a></li>
                    <li class="active"><a href="#/jogos" class="light">Jogos</a></li>
                    <li><a href="#/estatuto" class="light">Estatuto</a></li>
                    <li><a href="#/calendario" class="light">Calendário</a></li>
                    <li><a href="#/promocoes" class="light">Promoções</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">

                </div>

                <div class="col s12 m6 l6">

                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>
</div>

<script type="text/javascript">

$(document).ready(function(){
  $('.collapsible').collapsible();
  $('.modal-trigger').leanModal();
});

</script>
