<script type="text/javascript">

$(document).ready(function(){
  $('.tooltipped').tooltip({delay: 50});
  $('.modal-trigger').leanModal();
  $('select').material_select();  

  $('#titulo').focus();
  $('#conteudo').focus();
  $("input#titulo, textarea#conteudo").characterCounter();
});
</script>

<div ng-controller="comunicadosCtrl">

    <header>
        <!--
        <nav class="orange darken-4">
            <div class="nav-wrapper">
                <a href="#/" class="brand-logo left light" style="padding-left: 50px">Maracabarro</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#/financas" class="light">Finanças</a></li>
                    <li class="active"><a href="#/eventos" class="light">Eventos</a></li>
                    <li><a href="#/comunicados" class="light">Comunicados</a></li>
                    <li><a href="#/jogos" class="light">Jogos</a></li>
                    <li><a href="#/estatuto" class="light">Estatuto</a></li>
                    <li><a href="#/calendario" class="light">Calendário</a></li>
                    <li><a href="#/promocoes" class="light">Promoções</a></li>
                </ul>
            </div>
        </nav>
        -->
    </header>

    <main>
        <form ng-submit="addComunicado(comunicado)">

            <div class="container">
                <br><br>

                <div class="row">
                    <div class="col s12 m12 l12 ">
                        <div class="input-field">
                            <input id="titulo" ng-model="comunicado.titulo" type="text" length="50" maxlength="50" class="validate" placeholder="Insira um título"
                                required="">
                            <label for="titulo">Título</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l12 ">
                        <div class="input-field">
                            <textarea id="conteudo" ng-model="comunicado.conteudo" length="1000" maxlength="1000" class="validate materialize-textarea"
                                placeholder="Escreva seu comunicado" required=""></textarea>
                            <label for="conteudo">Conteúdo</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4 m4 l4 ">                
                        <input type="checkbox" ng-model="comunicado.importante" ng-true-value="1" ng-false-value="0" id="checkImportante" />
                        <label for="checkImportante">Importante</label>                
                    </div>

                    <div class="col s8 m8 l8 ">                        
                        <button type="submit" ng-click="" class="waves-effect waves-orange blue-text btn-flat right">Adicionar</button>
                        <a href="#/comunicados" ng-click="" class="waves-effect waves-orange red-text btn-flat right">Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <footer>
    </footer>
</div>