<div ng-controller="comunicadosCtrl">

    <header>
        <!--
        <nav class="orange darken-4">
            <div class="nav-wrapper">
                <a href="#/" class="brand-logo left light">Maracabarro</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#/financas" class="light">Finanças</a></li>
                    <li><a href="#/eventos" class="light">Eventos</a></li>
                    <li class="active"><a href="#/comunicados" class="light">Comunicados</a></li>
                    <li><a href="#/jogos" class="light">Jogos</a></li>
                    <li><a href="#/estatuto" class="light">Estatuto</a></li>
                    <li><a href="#/calendario" class="light">Calendário</a></li>
                    <li><a href="#/promocoes" class="light">Promoções</a></li>
                </ul>
            </div>
        </nav>
        -->
    </header>

    <main>
        <div class="container">
            
            <div ng-repeat="comunicado in comunicados">            
                <!-- COMUNICADO IMPORTANTE -->
                <div class="panel panel-danger" ng-if="comunicado.importante == '1'">
                    <div class="panel-heading">
                        <h4>                                               
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="Importante"></span>                        
                            <b class="" style="margin-left: 50px">{{comunicado.titulo}}</b>
                        </h4>
                        <span class="label label-danger pull-right">{{comunicado.usuarioResponsavel}} - {{ comunicado.dataPublicacao }}</span>
                    </div>
                    <div class="panel-body">
                        <p>{{comunicado.conteudo}}</p>
                    </div>
                    <div class="panel-footer">

                        <span>{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                        <span>{{comunicado.qtdComentarios}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span>                        
                        
                        <div class="btn-group pull-right">
                            <div>                                
                                <button type="button" class="btn btn-xs btn-default" style="margin-right: 10px" ng-if="usuarioAtivo.admin == 's'" ng-click="openEditComunicadoView(comunicado.id)">Editar</button>
                                <a class="blue-text" href="#/comunicados/{{comunicado.id}}">Comentar</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- COMUNICADO SIMPLES -->
                <div class="panel panel-default" ng-if="comunicado.importante != '1'">
                    <div class="panel-heading">
                        <h4>                                               
                            <span class="glyphicon glyphicon-info-sign"></span>                        
                            <b style="margin-left: 50px">{{comunicado.titulo}}</b>
                        </h4>
                        <span class="label label-primary pull-right">{{comunicado.usuarioResponsavel}} - {{ comunicado.dataPublicacao}}</span>
                    </div>
                    <div class="panel-body">
                        <p>{{comunicado.conteudo}}</p>
                    </div>
                    <div class="panel-footer">

                        <span>{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                        <span>{{comunicado.qtdComentarios}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span>                        
                        
                        <div class="btn-group pull-right">
                            <div>                                
                                <button type="button" class="btn btn-xs btn-default" style="margin-right: 10px" ng-if="usuarioAtivo.admin == 's'" ng-click="openEditComunicadoView(comunicado.id)">Editar</button>
                                <a class="blue-text" href="#/comunicados/{{comunicado.id}}">Comentar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>            
                
        </div>

        <a href="#/comunicados/add" ng-if="usuarioAtivo.admin == 's'" id="add" class="btn-floating btn-large waves-effect waves-light orange darken-4"><i class="material-icons">add</i></a>
    </main>

    <footer>

    </footer>
</div>

<script type="text/javascript">

    $(document).ready(function () {                
        $('[data-toggle="tooltip"]').tooltip();        
    });

</script>