<div ng-controller="comunicadosCtrl">

    <header>        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                
                <a href="#/home" class="navbar-brand" href="">Maracabarro</a>
                

                <ul class="nav navbar-nav navbar-right">                        
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuário<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=""><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendário</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comunicados</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Estatuto</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Eventos</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Finanças</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Fotos</a></li>                            
                        <li><a href=""><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Jogos</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Promoções</a></li>       
                        <li><a href=""><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Vídeos</a></li>                     
                        <li role="separator" class="divider"></li>
                        <li><a href=""><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a></li>
                    </ul>
                    </li>
                </ul>
                
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            
            <div ng-repeat="comunicado in comunicados">            
                <!-- COMUNICADO IMPORTANTE -->
                <div class="panel panel-danger" ng-if="comunicado.importante == '1'">
                    <div class="panel-heading">
                        <h4>                                               
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="Importante"></span>                        
                            <b class="" style="margin-left: 50px">{{comunicado.titulo}}</b>
                        </h4>
                        <span class="label label-danger pull-right">{{comunicado.usuarioResponsavel}} - {{ comunicado.dataPublicacao }}</span>
                    </div>
                    <div class="panel-body">
                        <p>{{comunicado.conteudo}}</p>
                    </div>
                    <div class="panel-footer">

                        <span>{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                        <span>{{comunicado.qtdComentarios}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span>                        
                        
                        <div class="btn-group pull-right">
                            <div>                                
                                <button type="button" class="btn btn-xs btn-default" style="margin-right: 10px" ng-if="usuarioAtivo.admin == 's'" ng-click="openEditComunicadoView(comunicado.id)">Editar</button>
                                <a class="blue-text" href="#/comunicados/{{comunicado.id}}">Comentar</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- COMUNICADO SIMPLES -->
                <div class="panel panel-default" ng-if="comunicado.importante != '1'">
                    <div class="panel-heading">
                        <h4>                                               
                            <span class="glyphicon glyphicon-info-sign"></span>                        
                            <b style="margin-left: 50px">{{comunicado.titulo}}</b>
                        </h4>
                        <span class="label label-primary pull-right">{{comunicado.usuarioResponsavel}} - {{ comunicado.dataPublicacao}}</span>
                    </div>
                    <div class="panel-body">
                        <p>{{comunicado.conteudo}}</p>
                    </div>
                    <div class="panel-footer">

                        <span>{{comunicado.qtdCurtidas}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                        <span>{{comunicado.qtdComentarios}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span>                        
                        
                        <div class="btn-group pull-right">
                            <div>                                
                                <button type="button" class="btn btn-xs btn-default" style="margin-right: 10px" ng-if="usuarioAtivo.admin == 's'" ng-click="openEditComunicadoView(comunicado.id)">Editar</button>
                                <a class="blue-text" href="#/comunicados/{{comunicado.id}}">Comentar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>            
                
        </div>

        <a href="#/comunicados/add" ng-if="usuarioAtivo.admin == 's'" id="add" class="btn-floating btn-large waves-effect waves-light orange darken-4"><i class="material-icons">add</i></a>
    </main>

    <footer>

    </footer>
</div>

<script type="text/javascript">

    $(document).ready(function () {                
        $('[data-toggle="tooltip"]').tooltip();     
        $('.dropdown-toggle').dropdown();   
    });

</script>